global:
  scrape_interval:     15s
  evaluation_interval: 15s

rule_files:
  # - "first.rules"
  # - "second.rules"

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:{{ role_prometheus_port }}']

  - job_name: app-server
    static_configs:
      - targets: ['{{ role_prometheus_ip1 }}:{{ role_prometheus_port }}']